body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: rgb(121, 120, 121);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial,sans-serif;
   
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    background: #111;
    color: white;
}
.logo{
    font-size: 22px;
    font-weight: bold;
}
.search{
    padding: 8px;
    width: 40%;
    border-radius: 4px;
    border: none;
}
.nav-links a{
color: white;
text-decoration: none;
margin-left: 15px;
}
.container{
  flex: 1;
    display: grid;
    grid-template-columns: 250px 1fr;
    
}
.sidebar{
    background: #a6a6a6;
    padding: 30px 20px;
    border-right: 1px solid #ddd;
    overflow-y: auto;
}
.menu{
    margin-bottom: 35px;
}
.menu h3{
    margin-bottom: 12px;
    text-transform: uppercase;
    color: #777;
    letter-spacing: 1px;
    font-size: 12px;
}
.menu ul{
    list-style: none;
}
.menu li{
  font-size: 14px;
    padding: 6px 0;
    cursor: pointer;
    color: #333;
    transition: color 0.2s;
}
.menu li:hover{
    text-decoration: underline;
    color: #000;
}
.menu li.active{
  font-weight: 600;
  color: #000;
}
.content{
    padding: 20px;
    background: #787575;
}
.content h2{
    margin-bottom: 20px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 35px;
}

.card {
  text-decoration: none;
  color: #111;
  background: white;
  padding: 15px;
  border-radius: 4px;
  transition: transform 0.3s, box-shadow 0.3s;
}
.card:hover{
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.card img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-radius: 2px;
  margin-bottom: 12px;
}
.card h4 {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 4px;
}

.card p {
  font-size: 13px;
  color: #666;
}

.simple-footer {
  margin-top: auto;
  background: #f5f5f3;
  padding: 50px 80px 30px;
  border-top: 1px solid #ddd;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 40px;
  margin-bottom: 30px;
}

.simple-footer h4 {
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: #111;
}

.simple-footer a {
  display: block;
  font-size: 14px;
  color: #555;
  text-decoration: none;
  margin-bottom: 8px;
}

.simple-footer a:hover {
  color: #000;
}

.footer-note {
  font-size: 12px;
  color: #777;
  text-align: center;
}

.footer-note a {
  color: #000;
  text-decoration: underline;
}
@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }

  .sidebar {
    display: none;
  }

  .search {
    width: 60%;
  }
}
@media (max-width: 600px) {
  .content {
    padding: 20px;
  }

  .simple-footer {
    padding: 30px 20px;
  }
  .navbar{
    flex-direction: column;
    gap: 12px;
  }
    .search{
      width: 100%;
    }
  .footer-links{
    text-align: center;
  }
}