body{
    background-color: black; 
    color: azure;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
header{
    text-align: center;
    padding: 20px 0;
    background-color: #1a1a1a;
}
h1{
    font-size: 24px;
    color: wheat;
    margin: 0;
}
.main-nav{
    text-align: center;
    background-color: darkgrey;
    padding: 10px 0;
}
.main-nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
.main-nav li{
display: inline-block;
margin: 0 10px;
padding: 10px 5px;
}
.main-nav a{
    color:darkblue;
    text-decoration: none;
    font-size: 0.9em;
}
.sites-list-container{
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
}
.instructions{
    text-align: center;
    margin-bottom: 25px; 
    color: chocolate;
    text-decoration: underline;
}

.links{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
}
.links a{
    display: block;
    background-color: lightblue;
    color: black;
    text-decoration: none;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
    transition: background-color 0.1s;
}
.links a:hover{
    background-color: yellow;
}


@media(max-width:992px){
    .links-grid{
        grid-template-columns:1fr 1fr 1fr 1fr ;
    }
}
@media(max-width:600px){
    .links-grid{
        grid-template-columns: 1fr 1fr;
    }
}
