.album-row{

padding:50px 70px;

}

.row-header{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:25px;

}

.row-header h2{

font-family:"Cormorant Garamond",serif;

font-size:46px;

color:var(--text);

}

.album-count{

color:var(--text-secondary);

font-size:14px;

letter-spacing:1px;

text-transform:uppercase;

}

.album-count:hover{

background:white;

color:black;

}

.row-scroll{

display:flex;

overflow-x:auto;

gap:22px;

padding-bottom:15px;

scroll-behavior:smooth;

}

.row-scroll::-webkit-scrollbar{

height:8px;

}

.row-scroll::-webkit-scrollbar-thumb{

background:#333;

border-radius:10px;

}

.row-card{

min-width:270px;

flex-shrink:0;

}