.cart-sidebar{

position:fixed;

top:0;

right:-420px;

width:380px;

height:100vh;

background:var(--bg);

padding:25px;

transition:.4s;

z-index:9999;

overflow:auto;

box-shadow:-8px 0 30px rgba(0,0,0,.45);

}

.open{

right:0;

}

.close-cart{

float:right;

background:none;

border:none;

color:var(--text);

font-size:24px;

cursor:pointer;

}

.cart-item{

display:flex;

gap:15px;

margin:20px 0;

}

.cart-item img{

width:70px;

height:70px;

object-fit:cover;

}

.checkout{

width:100%;

padding:16px;

margin-top:20px;

background:#F3F0EA;

border:none;

cursor:pointer;

font-weight:bold;

}