:root{

--bg:#0b0b0b;
--card:#171717;
--text:#f5f5f5;
--text-secondary:#999;
--accent:#d8c2a0;
--border:#2b2b2b;

}

.dark{

--bg:#0b0b0b;
--card:#171717;
--text:#f5f5f5;
--text-secondary:#999;
--accent:#d8c2a0;
--border:#2b2b2b;

background:var(--bg);
color:var(--text);
min-height:100vh;
transition:.35s;

}

.light{

--bg:#f7f3ee;
--card:#ffffff;
--text:#1d1d1d;
--text-secondary:#555;
--accent:#7c5c2d;
--border:#ddd;

background:var(--bg);
color:var(--text);
min-height:100vh;
transition:.35s;

}

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,Helvetica,sans-serif;
}

html{
scroll-behavior:smooth;
}

body{

background:var(--bg);
color:var(--text);

}

a{

text-decoration:none;
color:inherit;

}